# Flutter & Dart tooling
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# IDE
.idea/
.vscode/

# Builds
build/
ios/Pods/
ios/.symlinks/
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release

# Web artifacts
web/**/flutter.js
web/**/flutter_service_worker.js

# Coverage & reports
coverage/
coverage.lcov

# Logs & OS junk
*.log
*.DS_Store
*.swp
*.swo
Thumbs.db
